body,
html {
  height: 100%;
}

body {
  background-color: #F9FAFF;
  color: $defaul;
  @extend %rubik-400;
  font-size: 18px;
  line-height: 130%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  @extend %rubik-400;
  color: $white;
  background-color: $accent;
  cursor: pointer;
  border-radius: 5px;
}

.section {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .section {
    margin-bottom: 40px;
  }
}

.title {
  padding-bottom: 60px;
  @extend %rubik-500;
  font-size: 36px;
  color: $text;
  text-align: center;
  line-height: 130%;
}

.breadcrumbs {
  background: rgba(255, 122, 80, 0.1);

  &__list {
  display: flex;
  padding: 24px 0;
  margin-bottom: 60px;
}
  &__item {
    margin-right: 17px;
    position: relative;

    &::after {
      content: "";
      background-image: url('../images/breadcrumbs.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 6px;
      height: 10px;
      top: 8px;
      right: -12px;
      position: absolute;
    }

    &:last-child {
      margin-right: 0;
      &::after {
        display: none;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #505050;
  }
}

.menu__list-item .menu__list-link--active {
  color: $accent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    & .pagination__item:focus {
      border: 2px solid $accent;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    outline: transparent;
    background: #FAEDED;
    transition: all .3s;

    &--active {
      border: 1px solid $text;
    }


    &:hover {
      background-color: $accent;
      color: $white;
    }

    &:focus {
      border: 2px solid $accent;
    }

    &:active {
      box-shadow: inset 0px -1px 4px 2px rgba(0, 0, 0, 0.15);
      background-color: transparent;
      color: $text;
      border: transparent;
    }
  }

  &__prew {
    transform: rotate(180deg);
  }

  &__arrow {
    display: flex;
    align-items: center;
    
    &:hover {
      path {
        fill: $white;
      }
    }

    &:active {
      path {
        fill: $text;
      }
    }
  }
}



